# dependencies
node_modules/

# builds
dist/
client/dist/
server/dist/
cms/dist/

# misc
.DS_Store
*.pem
.rocketride/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local
server/.env

# typescript
*.tsbuildinfo

# drizzle
server/drizzle/meta/
